<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright 2013 Aljoschability and others. All rights reserved.

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License v1.0 which accompanies this distribution,
	and is available at http://www.eclipse.org/legal/epl-v10.html

	Contributors:
		Aljoscha Hark <mail@aljoschability.com> - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.editors">
      <editor
            class="com.aljoschability.eclipse.grecoto.ui.editor.EcoreDiagramEditor"
            contributorClass="org.eclipse.graphiti.ui.editor.DiagramEditorActionBarContributor"
            default="true"
            extensions="ecore_diagrams"
            icon="icons/file_diagram.png"
            id="com.aljoschability.eclipse.grecoto.ui.editor"
            matchingStrategy="org.eclipse.graphiti.ui.editor.DiagramEditorMatchingStrategy"
            name="Ecore Diagram Editor">
      </editor>
   </extension>

</plugin>
