<?xml version="1.0" encoding="UTF-8"?>
<!--
	Copyright 2013 Aljoschability and others. All rights reserved.

	This program and the accompanying materials are made available under the
	terms of the Eclipse Public License v1.0 which accompanies this distribution,
	and is available at http://www.eclipse.org/legal/epl-v10.html

	Contributors:
		Aljoscha Hark <mail@aljoschability.com> - initial API and implementation
-->
<plugin>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyContributor">
      <propertyContributor
            contributorId="com.aljoschability.eclipse.grecoto.diagram.PropertyContributor"
            labelProvider="com.aljoschability.eclipse.core.properties.ecore.EcorePropertyLabelProvider"
            typeMapper="com.aljoschability.eclipse.core.properties.ecore.EcoreTypeMapper">
         <propertyCategory
               category="model"></propertyCategory>
         <propertyCategory
               category="diagram">
         </propertyCategory>
      </propertyContributor>
   </extension>
   <extension
         point="org.eclipse.ui.views.properties.tabbed.propertyTabs">
      <propertyTabs
            contributorId="com.aljoschability.eclipse.grecoto.diagram.PropertyContributor">
         <propertyTab
               category="model"
               id="model"
               label="Model">
         </propertyTab>
         <propertyTab
               afterTab="model"
               category="model"
               id="constraints"
               label="Constraints">
         </propertyTab>
         <propertyTab
               afterTab="constraints"
               category="model"
               id="documentation"
               label="Documentation">
         </propertyTab>
         <propertyTab
               afterTab="documentation"
               category="model"
               id="generator"
               label="Generator">
         </propertyTab>
         <propertyTab
               afterTab="generator"
               category="diagram"
               id="appearance"
               label="Appearance">
         </propertyTab>
      </propertyTabs>
   </extension>
   <extension
         id="EPackage"
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.aljoschability.eclipse.grecoto.diagram.PropertyContributor">
         <propertySection
               class="com.aljoschability.eclipse.ecodito.properties.sections.ENamedElementNameSection"
               enablesFor="1"
               id="EPackage.name"
               tab="model">
         </propertySection>
         <propertySection
               afterSection="EPackage.name"
               class="com.aljoschability.eclipse.ecodito.properties.sections.EPackageNsPrefixSection"
               enablesFor="1"
               id="EPackage.nsPrefix"
               tab="model">
            <input type="org.eclipse.emf.ecore.EPackage"/>
         </propertySection>
         <propertySection
               afterSection="EPackage.nsPrefix"
               class="com.aljoschability.eclipse.ecodito.properties.sections.EPackageNsUriSection"
               enablesFor="1"
               id="EPackage.nsUri"
               tab="model">
            <input type="org.eclipse.emf.ecore.EPackage"/>
         </propertySection>
         <propertySection
               class="com.aljoschability.eclipse.ecodito.properties.sections.EModelElementDocumentationSection"
               enablesFor="1"
               id="EPackage.documentation"
               tab="documentation">
            <input type="org.eclipse.emf.ecore.EPackage"/>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         id="EClass"
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.aljoschability.eclipse.grecoto.diagram.PropertyContributor">
         <propertySection
               class="com.aljoschability.eclipse.ecodito.properties.sections.ENamedElementNameSection"
               enablesFor="1"
               id="EClass.name"
               tab="model">
            <input
                  type="org.eclipse.emf.ecore.EClass">
            </input>
         </propertySection>
         <propertySection
               afterSection="EClass.name"
               class="com.aljoschability.eclipse.ecodito.properties.sections.EClassifierInstanceClassNameSection"
               enablesFor="1"
               id="EClass.instanceClassName"
               tab="model">
            <input
                  type="org.eclipse.emf.ecore.EClass">
            </input>
         </propertySection>
         <propertySection
               afterSection="EClass.instanceClassName"
               class="com.aljoschability.eclipse.ecodito.properties.sections.EClassModifierSection"
               enablesFor="1"
               id="EClass.modifier"
               tab="model">
            <input
                  type="org.eclipse.emf.ecore.EClass">
            </input>
         </propertySection>
         <propertySection
               class="com.aljoschability.eclipse.ecodito.properties.sections.EModelElementDocumentationSection"
               enablesFor="1"
               id="EClass.documentation"
               tab="documentation">
            <input
                  type="org.eclipse.emf.ecore.EClass">
            </input>
         </propertySection>
         <propertySection
               class="com.aljoschability.eclipse.ecodito.properties.sections.EClassConstraintsSection"
               enablesFor="1"
               id="EClass.constraints"
               tab="constraints">
            <input
                  type="org.eclipse.emf.ecore.EClass">
            </input>
         </propertySection>
      </propertySections>
   </extension>
   <extension
         id="EAttribute"
         point="org.eclipse.ui.views.properties.tabbed.propertySections">
      <propertySections
            contributorId="com.aljoschability.eclipse.grecoto.diagram.PropertyContributor">
         <propertySection
               class="com.aljoschability.eclipse.ecodito.properties.sections.ENamedElementNameSection"
               enablesFor="1"
               id="EAttribute.name"
               tab="model">
            <input
                  type="org.eclipse.emf.ecore.EAttribute">
            </input>
         </propertySection>
         <propertySection
               afterSection="EAttribute.name"
               class="com.aljoschability.eclipse.ecodito.properties.sections.ETypedElementETypeSection"
               enablesFor="1"
               id="EAttribute.type"
               tab="model">
            <input
                  type="org.eclipse.emf.ecore.EAttribute">
            </input>
         </propertySection>
         <propertySection
               class="com.aljoschability.eclipse.ecodito.properties.sections.EModelElementDocumentationSection"
               enablesFor="1"
               id="EAttribute.documentation"
               tab="documentation">
            <input
                  type="org.eclipse.emf.ecore.EAttribute">
            </input>
         </propertySection>
      </propertySections>
   </extension>

</plugin>
